<!-- templates/easy-label/context-menu.html -->

{% load static %}
<script src="{% static 'js/contextMenu.js' %}"></script>

<div id="context-menu" class="context-menu">
    <ul class="context-menu-items">
        <li><span role="img" aria-label="emoji">✅</span>Correcto</li>
        <li><span role="img" aria-label="emoji">❌</span>Rotura/Falla</li>
        <li><span role="img" aria-label="emoji">⚠️</span>Anomalía</li>
        <li><span role="img" aria-label="emoji">➕</span>Adherencia</li>
        <!-- <li class="context-menu-separator"></li>
        <li><span role="img" aria-label="emoji">🗑️</span>Borrar</li> -->
    </ul>
</div>