{% extends 'base.html' %}
{% load static %}
{% block title %}EasyLabel{% endblock %}

{% block left_sidebar %}
    {% include 'easylabel-leftbar.html' %}
{% endblock %}

{% block content %}

<script type='text/javascript'>
    var staticBaseUrl = '{% get_static_prefix %}';
    var hash = '{% static hash %}'.replace(/^.*[\\/]/, '');
    var imgs_name = JSON.parse('{{ imgs_name|safe }}');
    var centers = JSON.parse('{{ centers|escapejs }}');
    var weights = JSON.parse('{{ weights|escapejs }}');
    var clicked_system = 'lobera'
    var imageMetaData = {
                    'hash': hash,
                    'json': {},
                    'icon': {},
                };
    for(i = 0; i < imgs_name.length; i++){
        imageMetaData['json'][imgs_name[i]] = {
                'module': null,
                'system': null,
                'type': null,
                'x': 0,
                'y': 0,
                'obs': '',
        };
        imageMetaData['icon'][imgs_name[i]] = {
            'module': null,
            'center': null,
            'system': null,
            'template': null,
            'separator': null,
            'jail': null,
            'icon': null,
            'x': 0,
            'y': 0,
            'span': null,
        }
    };
</script>
<script src="{% static 'js/addIcons.js' %}"></script>
<script src="{% static 'js/contextMenus.js' %}"></script>
<script src="{% static 'js/openGridss.js' %}"></script>
<script src="{% static 'js/refreshCenters.js' %}"></script>
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/downloads.js' %}"></script>


{% include 'icons.html' %}
{% include 'easylabel-tab.html' %}
{% include 'easylabel-loberas.html' %}
{% include 'easylabel-peceras.html' %}
{% include 'easylabel-tensores.html' %}

<script> document.getElementsByClassName('tablinks')[0].click() </script>

{% endblock %}

{% block right_sidebar %}
    {% include 'easylabel-rightbar.html' %}

{% endblock %}