{% load static %}

<div id="pecera" class="tabcontent">
    <div class="dropdown-wrapper">
        <select id="peceras-dropdown" class="peceras-dropdown" onchange="refeshIcons()">
            {% for label in init_easylabel.pecera_labels %}
                <option value="{{ label }}">{{ label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="grid-container-peceras">
        <div class="peceras-left-column">
            <h1 class="loberas-legend">Frontal</h1>
            <div id="image-container-pecera" class="image-container" role="frontal">
                <img src="{% static 'imgs/assets/fixed/fishbowl_lateral.png' %}" class="img-peceras-lateral-1">
            </div>
            <h1 class="loberas-legend">Canal</h1>
            <div id="image-container-pecera" class="image-container" role="canal">
                <img src="{% static 'imgs/assets/fixed/fishbowl_lateral.png' %}" class="img-peceras-lateral-2">
            </div>
        </div>
        <div class="peceras-center-column">
            <h1 class="loberas-legend">Distal</h1>
            <div id="image-container-pecera" class="image-container" role="distal">
                <img src="{% static 'imgs/assets/fixed/fishbowl_lateral.png' %}" class="img-peceras-lateral-3">
            </div>
            <h1 class="loberas-legend">Costa</h1>
            <div id="image-container-pecera" class="image-container" role="costa">
                <img src="{% static 'imgs/assets/fixed/fishbowl_lateral.png' %}" class="img-peceras-lateral-4">
            </div>
        </div>
        <div class="peceras-right-column">
            <h1 class="loberas-legend">Inspección de Fondo Pecera</h1>
            <div id="image-container-pecera" class="image-container" role="background">
                <img src="{% static 'imgs/assets/fixed/fishbowl_background.png' %}" class="img-peceras-topview">
            </div>
        </div>
    </div>
</div>