{% extends 'base.html' %}
{% load static %}
{% block title %}EasyLabel{% endblock %}

{% block left_sidebar %}
{% include 'left-sidebar-images.html' %}
{% endblock %}

{% block content %}

{% include 'context-menu.html' %}

<script type="text/javascript">
  var staticBaseUrl = "{% get_static_prefix %}";
  var centersData = JSON.parse('{{ centers_data|safe }}');
</script>

<script src="{% static 'js/openGrid.js' %}"></script>
<script src="{% static 'js/dropdownMamparos.js' %}"></script>
<script src="{% static 'js/dropdownCenters.js' %}"></script>
<script src="{% static 'js/addIcon.js' %}"></script>

<!-- <h1>¡Agrega tus labels!</h1>
<p>{{ images_dir }}</p> -->

<!--
<script>
    console.log("{{ centers_data }}");
</script>
-->

<div class="tab">
  <button class="tablinks" onclick="openGrid(event, 'lobera')">Lobera</button>
  <button class="tablinks" onclick="openGrid(event, 'peceras')">Peceras</button>
  <button class="tablinks" onclick="openGrid(event, 'tensores')">Tensores</button>

  <div class="dropdown-wrapper-centers">
    <select id="modules-dropdown" class="modules-dropdown">
    </select>
    <select id="centers-dropdown" class="centers-dropdown">
      {% for center in centers_names %}
      <option value="{{ center }}">{{ center }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<div id="lobera" class="tabcontent">
  <div class="grid-container-loberas">
    <div class="loberas-left-column">
      <h1 class="loberas-legend">Inspección de Fondo Lobero</h1>
      <div class="image-container">
        <center><img src="{% static 'img/assets/background/AMPAROGRANDE_0.png' %}" class="img-loberas-fondo1" width="100%"></center>
      </div>
      <h1 class="loberas-legend">Inspección de Lateral Lobero</h1>
      <div class="image-container">
        <center><img src="{% static 'img/assets/lateral/AMPAROGRANDE_0.png' %}" width="100%" ></center>
      </div>
    </div>
    <div class="loberas-right-column">
      <h1 class="loberas-legend">Inspección de Cabeceras</h1>
      <div class="image-container">
        <center><img src="{% static 'img/assets/fixed/seawolf_head_001.png' %}" width="85%"></center>
      </div>
      <h1 class="loberas-legend">Inspección de Mamparos</h1>
      <div class="dropdown-wrapper">
        <select id="mamparos-dropdown" class="mamparos-dropdown">
            <option value="">L2 - L1</option> <!-- Placeholder option -->
        </select>
      </div>
      <div class="image-container">
        <center><img src="{% static 'img/assets/fixed/seawolf_sep1.png' %}" width="85%" ></center>
      </div>
    </div>
  </div>
</div>

<div id="peceras" class="tabcontent">
  <div class="dropdown-wrapper">
    <select id="peceras-dropdown" class="peceras-dropdown">
      {% for option in peceras_options %}
      <option value="{{ option }}">{{ option }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="grid-container-peceras">
    <div class="peceras-left-column">
      <h1 class="loberas-legend">Frontal</h1>
      <div class="image-container">
        <img src="{% static 'img/assets/fixed/fishbowl_lateral.png' %}" class="img-peceras-lateral-1">
      </div>
      <h1 class="loberas-legend">Canal</h1>
      <div class="image-container">
        <img src="{% static 'img/assets/fixed/fishbowl_lateral.png' %}" class="img-peceras-lateral-2">
      </div>
    </div>
    <div class="peceras-center-column">
      <h1 class="loberas-legend">Distal</h1>
      <div class="image-container">
        <img src="{% static 'img/assets/fixed/fishbowl_lateral.png' %}" class="img-peceras-lateral-3">
      </div>
      <h1 class="loberas-legend">Costa</h1>
      <div class="image-container">
        <img src="{% static 'img/assets/fixed/fishbowl_lateral.png' %}" class="img-peceras-lateral-4">
      </div>
    </div>
    <div class="peceras-right-column">
      <h1 class="loberas-legend">Inspección de Fondo Pecera</h1>
      <div class="image-container">
        <img src="{% static 'img/assets/fixed/fishbowl_background.png' %}" class="img-peceras-topview">
      </div>
    </div>
  </div>
</div>

<div id="tensores" class="tabcontent">
  <div class="centered-tensores">
    <img src="{% static 'img/assets/tensor/AMPAROGRANDE_0.png' %}" width="90%">
  </div>
</div>

<script>
  document.getElementsByClassName("tablinks")[0].click();
</script>

{% endblock %}

{% block right_sidebar %}
  {% include 'right-sidebar.html' %}
{% endblock %}