{% extends 'base.html' %}
{% load static %}
{% block title %}EasyLabel{% endblock %}

{% block left_sidebar %}
{% include 'easylabel-leftbar.html' %}
{% endblock %}

{% block content %}
{% include 'icons.html' %}

<script type='text/javascript'>
    var staticBaseUrl = '{% get_static_prefix %}';
    var hash = '{% static hash %}'.replace(/^.*[\\/]/, '');
    var imgs_name = JSON.parse('{{ imgs_name|safe }}');
    var centers = JSON.parse('{{ centers|escapejs }}');
    var weights = JSON.parse('{{ weights|escapejs }}');

    var imageMetaData = {};
    for(i = 0; i < imgs_name.length; i++){
        imageMetaData[imgs_name[i]] = {
            'comments': '',
        };
    };
</script>

<script src="{% static 'js/openGrid.js' %}"></script>
<script src="{% static 'js/refreshCenters.js' %}"></script>

{% include 'easylabel-tab.html' %}
{% include 'easylabel-loberas.html' %}
{% include 'easylabel-peceras.html' %}
{% include 'easylabel-tensores.html' %}

<script> document.getElementsByClassName('tablinks')[0].click() </script>

{% endblock %}

{% block right_sidebar %}
    {% include 'easylabel-rightbar.html' %}
{% endblock %}