{% load static %}

<div class="selected-image-container">
    <img id="selected-image" src="{% static 'imgs/favicon_cover.png'%}" alt="Selected Image" />
</div>

<div>
    <p id="name-label">Selecione una imagen </p>
</div>

<div class="comment-section">
    <textarea id="comment-box" placeholder="Agrega una observación..." onblur="saveComment()"></textarea>
</div>

<hr class="sidebar-divider"/>

<div class="download-section">
    <button id="download-button" onclick="downloadJson()">Descargar Anotaciones</button>
</div>