{% load static %}

<script src="{% static 'js/contextMenu.js' %}"></script>
<script src="{% static 'js/addIcon.js' %}"></script>


<ul id="context-menu-lobera" class="context-menu">
    <li id="context-link-lobera" class="context-link"><span class="context-label" role="icon" aria-label="correct">✔️</span>Correcto</li>
    <li id="context-link-lobera" class="context-link"><span class="context-label" role="icon" aria-label="tear">❌</span>Rotura/Falla</li>
    <li id="context-link-lobera" class="context-link"><span class="context-label" role="icon" aria-label="anomaly">⚠️</span>Anomalía</li>
    <li id="context-link-pecera" class="context-link"><span class="context-label" role="icon" aria-label="adherence">♻️</span>Adherencia</li>
</ul>

<ul id="context-menu-pecera" class="context-menu">
    <li id="context-link-pecera" class="context-link"><span class="context-label" role="icon" aria-label="correct">✔️</span>Correcto</li>
    <li id="context-link-pecera" class="context-link"><span class="context-label" role="icon" aria-label="tear">❌</span>Rotura/Falla</li>
    <li id="context-link-pecera" class="context-link"><span class="context-label" role="icon" aria-label="adherence">⚠️</span>Anomalía</li>
    <li id="context-link-pecera" class="context-link"><span class="context-label" role="icon" aria-label="adherence">♻️</span>Adherencia</li>
    <li id="context-link-pecera" class="context-link"><span class="context-label" role="icon" aria-label="mortality">💀</span>Mortalidad</li>
</ul>

<ul id="context-menu-tensores" class="context-menu">
    <li id="context-link-tensores" class="context-link"><span class="context-label" role="icon" aria-label="correct">✔️</span>Correcto</li>
    <li id="context-link-tensores" class="context-link"><span class="context-label" role="icon" aria-label="lack_tension">⚠️</span>Falta tensión</li>
    <li id="context-link-tensores" class="context-link"><span class="context-label" role="icon" aria-label="no_tension">❌</span>Sin tensión</li>
</ul>
