{% extends 'base.html' %}
{% block title %}EasyLabel{% endblock %}

{% block left_sidebar %}
  {% include 'left-sidebar.html' %}
{% endblock %}

{% block content %}
  <div class="index-container">
    <h1 class="index-heading">
      Bienvenido a EasyLabel
    </h1>
    <p class="index-description">
      Para comenzar a etiquetar imágenes, sube un conjunto de imágenes en la barra lateral izquierda.
    </p>

    <section class="index-section">
      <h2 class="index-subheading">¿Qué es EasyLabel?</h2>
      <p>
        EasyLabel es un software web diseñado para añadir información relevante a imágenes, facilitando la generación de reportes.
      </p>
    </section>

    <section class="index-section">
      <h2 class="index-subheading">¿Quién lo utilizará?</h2>
      <p>
        Pilotos y operadores serán responsables de subir las carpetas .zip, que contienen las imágenes etiquetadas, al formulario en Tri-Data para su procesamiento y análisis.
      </p>
    </section>
  </div>
{% endblock %}

{% block right_sidebar %}
{% endblock %}